body {
  background-color: #5d3ba7; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.genre-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  height: 70vh; /* Adjust the height as needed */
}

.genre-item {
  margin-right: 15px;
  text-align: center;
}

.genre-name {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

